[submodule "cuddly-succotash"]
	path = cuddly-succotash
	url = https://github.com/Gueckmooh/cuddly-succotash
[submodule "ubiquitous"]
	path = ubiquitous
	url = git@github.com:Gueckmooh/ubiquitous-umbrella.git
